body {
    background: #29282c;
    color: #d8d8d9;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
}

img {
    border: 0;
}

a {
    outline: 0;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: #47447d;
}

a:hover,
a:focus {
    color: #686782;
}

h1,
h2 {
    font-size: 1em;
    font-weight: normal;
}


#sidebar {
    width: 200px;
    float: right;
    margin: 0 15px 2em 2em;
    position: relative;
    z-index: 10;
}

article {
    width: 45em;
    margin-bottom: 2em;
    margin-top: 2em;
}

article:first-of-type {
    margin-top: 0;
}

article h2 {
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
}

article h2+* {
    margin-top: 0;
}

article em {
    color: #ffffff;
    font-style: italic;
}


.leaderboard-entry {
    white-space: pre;
}

.leaderboard-position {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.leaderboard-totalscore {
    color: #e5c261;
    width: 40px;
    padding-left: 10px;
    display: inline-block;
}

.leaderboard-date {
    opacity: 0.4;
    width: 100px;
    text-align: right;
    display: inline-block;
}

.leaderboard-name {
    width: 300px;
    display: inline-block;
}

.leaderboard-userphoto {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin: 0 .5em;
    text-align: center;
}

.leaderboard-userphoto img {
    height: 20px;
    width: 30px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.username-submit {
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 2px;
    border-style: groove;
    overflow: hidden;
    color: #ffffff;
}

.username-submit:disabled {
    opacity: 0.2;
}

.username-submit:hover {
    border-color: #7abab7;
}